* {
  box-sizing: content-box;
}

html, body {
  overflow-x: hidden;
}

body {
  /* background-color: cadetblue; */
  padding-top: 30px;
  text-align: center;
  position: fixed;
  width: 100%;
  height: 100%;
}

.header {
  font-size: 30px;
  padding-bottom: 70px;
}

#container {
  /* margin-top: 100px; */
  position: relative;
  color: white;
  display: flex;
  flex-direction: column;
  margin: 100px auto 0 auto;
  width: 375px;
}

.background { 
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: -webkit-linear-gradient(transparent, rgba(88, 86, 86, 0.8));
  background-attachment: fixed;
  overflow: hidden;
}

.popup {
  position: absolute;
  right: -165px;
  bottom: 45px;
  background: #4bce3c9e;
  border-radius: 5%;
  display: inline-block;
  padding: 10px;
  align-items: center;
  color: white;
  transition: all 1s ease-in-out;
  opacity: 0;
}

.popup.animated {
  right: 10px;
  opacity: 1;
}

.help {
  font-size: 35px;
}

.close-help-text {
  background: rgb(225, 79, 25);
  width: 69px;
  margin: 0 auto 0 auto;
  position: relative;
  top: 40px;
  border: none;
  color: white;
  border-radius: 20px;
  outline: none;
  font-size: 20px;
}

.help-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  color: white;
  display: block;
  text-decoration: none;
}

.help-popup {
  background: white;
  width: 390px;
  height: 235px;
  z-index: 1;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  display: none;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  border-radius: 2%; 
}

.help-text {
  font-weight: bold;
}

.copy-roomid {
  display: inline-block;
}

#artwork {
  margin-left: auto;
  margin-right: auto;
  /* width: 328px;
  height: 328px; */
  border-radius: 5%;
  box-shadow: 3px 3px 10px #000000;
  transition: 0.4s ease-in-out;
}

.player {
  padding-top: 20px;
  font-size: 48px;
  /* mix-blend-mode: difference; */
  display: flex;
  justify-content: space-evenly;
}

p {
  margin: 0;
  padding: 0;
}

a {
 cursor: pointer; 
}

.track {
  font-size: 20px;
  padding-top: 30px;
  /* display: flex;
  flex-direction: column;
  margin-left: 15%; */
  text-align: left;
  /* mix-blend-mode: difference; */
  transition: 0.2s;
}

.track #track-name {
  font-weight: bold;
}

.track #artist-name {
  color: lightgray;
}

.search-bar {
  --size: 40px;
  --bcolor: #2f3640;
  display: block;
  position: absolute;
  left: 50%;
  border-radius: 40px;
  height: var(--size);
  transform: translate(-50%);
  transition: 0.4s;
  background: var(--bcolor);
  padding: 10px;
  width: max-content;
}

.search-bar:hover>.input {
  width: 240px;
  padding-left: 20px;
}

.search-bar:hover>.submit {
  /* background: white; */
  background: var(--bcolor);
}

.search-bar .input {
  border: none;
  background: none;
  outline: none;
  /* float: left; */
  padding: 0;
  color: white;
  font-size: 16px;
  transition: 0.4s;
  line-height: var(--size);
  width: 0px;
}

.search-bar .submit {
  /* color: #e84118; */
  color: white;
  float: right;
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  background: var(--bcolor);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
}

.search-bar .submit:active {
  font-size: 25px;
}

#skipBack:active, #playPauseBtn:active, #skipForward:active {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  font-size: 44px;
}

.player a {
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

.player ion-icon {
  padding-top: -3px;
}

.loader-wrapper {
  background-color: #383838;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-x: hidden;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: white;
}

.loader-wrapper p {
  margin-top: 10px;
}